body {
	text-align: center;
}

#greeting { 
background-color: black;
font-size: 32px;
border: 5px solid gray;
padding: 75px;
color: white;
border-radius: 10px;
opacity: 0.75;
border-radius: 10px;
outline-style: solid;
outline-color: white;
text-shadow: 3px 3px 5px gray;
}
#para1 {
	color: white;
}
#buttons {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 2px;
	border-spacing: 20px;
	border-radius: 10px;
	outline-style: solid;
	outline-color: white;
	background-color: hsla(0, 0%, 0%, 0.7);
}
